<div class="work home-display" id="number-<%= index %>">
  <div class="inner-work">
    <p class="title"><a href="#/works/<%= work.escape("id") %>"> <%= work.escape("name") %> </a></p>
    <p class="author"> by <%= work.escape("author") %> </p>

    <div class="stats">
      <div class="stars">
        <div class="raty"></div>
      </div>
      <div class="avg-rating">
        <span class="avg"><%= work.escape("average_rating") %></span>
      </div>
      <div class="num-ratings">
        <div class="num-ratings-number"><%= work.escape("ratings") %></div> ratings
      </div>
      <div class="num-comments">
        <a class="blended-link" href="#/works/<%= work.escape("id") %>"><%= work.escape("num_comments") %> comments</a>
      </div>
      <div class="date">
        <%= work.escape("created_at_string") %>
      </div>
      <div class="length">
        <%= work.escape("length") %>
      </div>
    </div>

    <p class="description"><%= work.escape("description") %></p>
    <p class="link-text">Read it <a class="link-link" href="<%= work.escape("link") %>">here</a>.</p>
  </div>
</div>
