<div class="work col-md-6">
  <div class="inner-work">
    <p class="title"><a href="#/works/<%= work.get("id") %>"> <%= work.get("name") %> </a></p>
    <p class="author"> by <%= work.get("author") %> </p>

    <div class="stats row">
      <div class="stars col-md-3">
        <div class="raty"></div>
      </div>
      <div class="avg-rating col-md-2">
        <%= work.get("average_rating") %>
      </div>
      <div class="num-ratings col-md-3">
      <div class="num-ratings-number"><%= work.get("ratings") %></div> ratings
      </div>
      <div class="num-comments col-md-2">
        <%= work.get("num_comments") %> comments
      </div>
    </div>

    <p class="description"><%= work.get("description") %></p>
    Read it <a href="<%= work.get("link") %>">here</a>!
  </div>
</div>
