<div class="work home-display">
  <div class="inner-work">
    <div class="title-and-author">
      <p class="title"><a href="#/works/<%= work.escape("id") %>"> <%= work.escape("name") %> </a></p>
      <p class="author"> by <%= work.escape("author") %> </p>
    </div>

    <div class="stats">
      <div class="stars">
        <div class="raty"></div>
      </div>
      <div class="avg-rating">
        <span class="avg"><%= work.escape("average_rating") %></span>
      </div>
      <div class="num-ratings">
        <div class="num-ratings-number"><%= work.escape("ratings") %></div> ratings
      </div>
      <div class="num-comments">
        <a class="blended-link" href="#/works/<%= work.escape("id") %>"><%= work.escape("num_comments") %> comments</a>
      </div>
      <div class="date">
        <%= work.escape("time_ago") %> ago
      </div>
      <div class="length">
        <%= work.escape("length") %> <span class="length">Length</span>
      </div>
    </div>
    <p class="link-text">Read it <a class="link-link" href="<%= work.escape("link") %>">here</a>.</p>
  </div>
</div>
