<div class="row">
  <p class="title col-md-3"> <a href="#/works/<%= work.escape("id") %>"> <%= work.escape("name") %> </a></p>
  <p class="author col-md-2"> by <%= work.escape("author") %> </p>
  <div class="avg-rating col-md-1">
    <%= work.escape("average_rating") %>
  </div>
  <div class="num-ratings col-md-1">
    <div class="num-ratings-number"><%= work.escape("ratings") %></div> ratings
  </div>
  <div class="stars col-md-3">
    <div class="raty"></div>
  </div>
</div>
