
  <td><p class="title">
  <a href="#/works/<%= work.escape("id") %>"> <%= work.escape("name") %> </a>
  </p></td>
  <td><p class="author">
  <%= work.escape("author") %>
  </p></td>
  <td><p class="length">
  <%= work.escape("length") %>
  </p></td>
  <td class="avg-rating">
    <%= work.escape("average_rating") %>
  </td>
  <td class="num-ratings">
    <div class="num-ratings-number"><%= work.escape("ratings") %></div>
  </td>
  <td class="stars">
    <p class="hidden"><%= this.model.get("user_rating") %></p> <div class="raty"></div>
  </td>
