<div class="head">
  <h1><%= work.escape("name") %></h1>
  <% if (mod === "1") { %>
    <a class="filter-link" href="/#/works/<%= work.id %>/edit">Edit</a>
  <% } %>
</div>

<div style="clear:both">
</div>

<p class="author"> by <%= work.escape("author") %> </p>

      <div class="stats">
        <div class="stars">
          <div class="raty"></div>
        </div>
        <div class="bayesian-rating">
          <span class="avg"><%= work.escape("bayesian_average") %></span>
        </div>
        <div class="num-ratings">
          <div class="num-ratings-number"><%= work.escape("ratings") %></div> ratings
        </div>
        <div class="num-comments">
          <span class="num-comments-number"><%= work.escape("num_comments") %></span> comments
        </div>
        <div class="date">
          <%= work.escape("created_at_string") %>
        </div>
        <div class="length" title="Short works have less than 25k words, medium works less than 100k, and long works less than 500k. Epic works, are well, epic.">
          <%= work.escape("length") %> length
        </div>
        <div class="average-rating" title="This is a non-bayesian average rating, meaning that it does not take into account the number of votes this work has received.">
          <span class="other-avg"><%= work.escape("average_rating") %> average rating</span>
        </div>
      </div>

    <div class="tag-display-box">
      <% work.get("tags").forEach( function (tag) { %>
        <div class="single-tag"><p><%= tag %></p></div>
      <% }) %>
    </div>

    <p class="description"><%= work.escape("description") %></p>
    Read it <a href="<%= work.escape("link") %>">here</a>.
  </div>
</div>
