<div class="single-comment depth<%=comment.get("depth") %>" id="<%= comment.escape("id") %>">
  <div class="comment-data">
    <a class="username" href="/users/<%= comment.get("user_id") %>">
      <%= comment.escape("username") %>
    </a>

    <div class="raty user-rating"></div>
    <p class="time-ago"><%= comment.escape("time_ago") %> ago</p>
  </div>

  <div class="comment-content">
  <p class="comment"><%= comment.escape("content") %></p>
  </div>

  <div class="reply">
    <a href="javascript:void(0)">Reply</a>
  </div>
</div>
