<div class="single-comment depth<%=depth %>" id="<%= comment.escape("id") %>">
  <div class="comment-data">
    <p class="username"><%= comment.escape("username") %></p>
    <div class="raty user-rating"></div>
    <p class="time-ago"><%= comment.escape("time_ago") %> ago</p>
  </div>

  <div class="comment-content">
    <%= comment.escape("content") %>
  </div>

  <div class="reply">
    <a href="javascript:void(0)">Reply</a>
  </div>
</div>
