<p><%= @chapter.work.name %> has been updated. Go to <a href="<%=@chapter.link%>"> <%= @chapter.link %> </a> to read the newest chapter.</p>

<p>If you would like to unfollow this work, go to <a href="http://rationalreads.com/#/works/<%=@chapter.work_id%>">http://rationalreads.com/#/works/<%=@chapter.work_id%></a> and change your settings.</p>
