<h1><a class="to-work" href="#/works/<%= chapter.escape("work_id") %>"><%= chapter.escape("work_title") %></a>, Chapter <%= chapter.escape("number") %> </h1>

      <div class="stats">
        <div class="stars">
          <div class="raty main-raty"></div>
        </div>
        <div class="avg-rating">
          <span class="avg"><%= chapter.escape("average_rating") %></span>
        </div>
        <div class="num-ratings">
          <div class="num-ratings-number"><%= chapter.escape("ratings") %></div> ratings
        </div>
        <div class="num-comments">
          <%= chapter.escape("num_comments") %> comments
        </div>
        <div class="date">
          <%= chapter.escape("created_at_string") %>
        </div>
      </div>
    <br>
    <p class="description"><%= chapter.escape("description") %></p>
    <div class="link-to-chapter">
      <p>Read this chapter <a href="<%= chapter.escape("link") %>">here</a>.</p>
      <p>Learn more about <%= chapter.escape("work_title") %> <a href="#/works/<%= chapter.escape("work_id") %>">here</a>.</p>
    </div>
  </div>
</div>
