<!DOCTYPE html>
<html>
<head>
  <title>Rational Reads</title>
  <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:500,600,700,400,300' rel='stylesheet' type='text/css'>
  <link rel="icon" href="http://rationalreads.com/favicon.ico" />
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "layouts/header" %>
<div class="errors">
</div>
<div id="main">
<%= yield %>
</div>

<%= render partial: "layouts/footer" %>
<%= render partial: "layouts/tracking" %>

</body>
</html>
